body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

.logo {
  color: orangered;
  font-weight: normal;
  font-family: "Guardian-EgypTT", Charter, "Charter Bitstream", Cambria,
    "Noto Serif Light", "Droid Serif", Georgia, serif;
  font-size: xx-large;
  margin-top: 0%;
  font-stretch: expanded;
  text-decoration: none;
}

.site-container {
  min-height: fit-content;
  min-width: 200vh;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  /* flex: 1; */
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 10px rgb(255, 255, 255) solid;
  margin: 3 rem;
}

.card-img-top {
  width: 275px;
  height: 200px;
}

.favorite-button-image {
  width: 5px;
  height: 5px;
}

.product-card {
  width: 275px;
  height: 300px;
  margin-left: 0;
}

.product-card.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.product-info {
  padding: 2 rem;
  width: 300px;
  height: 100px;
}

.btn-primary {
  background-color: #4b4638;
  color: #000000;
}

.rating span {
  color: #302f2e;
}

.img-large {
  width: 700px;
  height: 500px;
}

.img-fluid rounded img-thumbnail {
  width: 50px;
  height: 50px;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.page-footer {
  min-height: 50px;
  margin-top: auto;

  /* position: relative;
  min-height: 100%; */
  /* bottom: 0; */
  width: 100%;
  height: 2.5rem;
  background-color: rgb(6, 6, 54);
  color: white;
  text-align: center;
}

html,
body {
  height: 100%;
  position: relative;
}

.d-flex flex-column site-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.rounded-circle-card:hover {
  cursor: pointer;
}
.rounded-circle-card {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -393px;
  margin-left: 245px;
}
.rounded-circle-product-page:hover {
  cursor: pointer;
}
.rounded-circle-product-page {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -994px;
  margin-left: 664px;
}

.product-card-text {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card-link {
  position: relative;
}

.product-card-body {
  margin-top: -21px;
  margin-left: 8px;
}

.productpage-card-body {
  margin-top: 0px;
}

.cartpage-card-body {
  margin-top: 0px;
}
